$navbar-default-bg: #08088A;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	float: left;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

.center {
	text-align: center;
}

.jumbotron {
	background-image: url("https://images.unsplash.com/photo-1477915737647-b5246ee6de6f?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
	background-size: cover;
	background-position: center;
	height: 500px;
}

.jumbotron h1 {
	color: #fff;
	text-align:center;
	margin-top: 120px;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;
}

.btn-xl {
	font-size: 1.7em;
	background-color: black;
}

.article-actions {
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}

.description {
	margin-top: 0px;
}

.article-title {
	font-weight: bold;
	font-size: 1.5em;
}

.article-body {
	border-top: 1px solid #eaeaea;
	padding: 15px 0;
}

.article-meta-details {
	border-top: 1px solid #eaeaea;
	margin-top: 15px;
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	// border: 1px solid #eaeaea;
	color: #777;
}

footer a:hover {
	color: #222;	
}

footer small {
	float: left;	
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;
}